@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Adobe Garamond Pro";
    src: url("fonts/AGaramondPro-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Adobe Garamond Pro";
    src: url("fonts/AGaramondPro-Bold.woff") format("woff");
    font-weight: 700;
    font-style: bold;
}